<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="js no-flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-creterounded-n7-inactive wf-museosansrounded700-n7-inactive wf-museosansrounded300-n3-inactive wf-inactive">
  <head>
    <title>Jeff Brooker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> What Jeff can do for you <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/">UX/UI Design</a></li>
                <li><a href="/">APP Development</a></li>
                <li><a href="/">Graphic Design: Print</a></li>
                <li><a href="/">Graphic Design: Web</a></li>
                <li><a href="/">Video Editing</a></li>
                <li><a href="/">Audio Editing</a></li>
                <li><a href="/">Copy Writing</a></li>
                <li><a href="">Copy Editing</a></li>
                <li class="divider"></li>
                <li><a href="/">SEO</a></li>
                <li><a href="/">Business Strategies</a></li>
              </ul>
          </li>
          <li class="navbar-right">
            <a href="/"><span class="glyphicon glyphicon-book"></span> Resume</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrapper">
      <div class="content">

        <%= yield %>

      </div><!-- END CONTENT -->
    </div><!-- END WRAPPER -->
  </body>
</html>
